<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RedirectMatch "/program-information/(.*)" "/programs/$1"

    RedirectMatch 301 /specialnosti-i-napravlenia/ekonomika-i-menedzment /specialnosti-i-napravlenia/ekonomika
    RedirectMatch 301 /specialnosti-i-napravlenia/transport-i-avia /specialnosti-i-napravlenia/logistika
    RedirectMatch 301 /specialnosti-i-napravlenia/media-i-kommunikacii /specialnosti-i-napravlenia/media-i-zurnalistika

   RedirectMatch 301 /universitety-slovakii/kosice/texniceskii-universitet-v-kosice/fakultet-masinostroeniia-tuke/bc/upravlenie-i-ekonomika-biznesa /universitety-slovakii/kosice/texniceskii-universitet-v-kosice/fakultet-masinostroeniia-tuke/bc/upravlenie-i-ekonomika-predpriiatiia

    #RewriteRule ^/?program-information/(.*)$ /programs/$1 [R=302,NE,L]
</IfModule>


